{
    "Rules": [
        {
            "Status": "Enabled",
            "Prefix": "postgres_backup",
            "Expiration": {
                "Days": 7
            },
            "ID": "DeleteExpiredPostgresBackups"
        }
    ]
}